<?xml version="1.0"?>

<!-- STL-version of the URDF, used with gazebo for dynamic simulation  -->

<robot name="pirov" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:arg name="use_mesh" default="true"/>
<xacro:arg name="density" default="1"/>    

<xacro:property name="x_offset" value="0.02"/>
    
<!-- Base BlueROV 2 -->
<xacro:include filename="$(find bluerov_ffg)/urdf/brov2_macro.xacro"/>
<xacro:generate_bluerov use_mesh="$(arg use_mesh)" density="$(arg density)" x_offset="${x_offset}"/>

<link name="lsm"/>
<link name="mpu"/>
    
<joint name="lsm" type="fixed">
    <parent link="base_link"/>
    <child link="lsm"/>
    <origin rpy="0 0 ${-PI/2}" xyz="${x_offset + .1} 0.018 0.02"/>      
</joint>

<joint name="mpu" type="fixed">
    <parent link="base_link"/>
    <child link="mpu"/>
    <origin rpy="0 0 ${-PI/2}" xyz="${x_offset + .11} 0.018 0.02"/>      
</joint>      

    <gazebo reference="lsm">
    <sensor name="imu_sensor" type="imu">
    <always_on>true</always_on>
    <update_rate>100</update_rate>
    <visualize>true</visualize>
    <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>lsm</topicName>
        <bodyName>pirov</bodyName>
        <updateRateHZ>100.0</updateRateHZ>
        <gaussianNoise>0.01</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>lsm</frameName>
    </plugin>
    </sensor>
</gazebo>

    <gazebo reference="mpu">
    <sensor name="imu_sensor" type="imu">
    <always_on>true</always_on>
    <update_rate>100</update_rate>
    <visualize>true</visualize>
    <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>mpu</topicName>
        <bodyName>pirov</bodyName>
        <updateRateHZ>100.0</updateRateHZ>
        <gaussianNoise>0.01</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>mpu</frameName>
    </plugin>
    </sensor>
</gazebo>


</robot>



